# Basic Sentiment Analysis with vaderSentiment

In [5]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('dataset/tweet_sample_100.csv')
df.head()

   Unnamed: 0                                         tweet_text
0           0  @erictile_: The reason why America isn’t recov...
1           1  @erictile_: The reason why America isn’t recov...
2           2  @itskevo254: This is the first year I'm not go...
3           3  @ipragyasingh1: DM agra has issued u a notice ...
4           4  @tveitdal: The Covid-19 pandemic is threatenin...

### Function to get the sentiments of the sentence.

In [8]:
def sentiment_scores(sentence):
    # Create a SentimentIntensityAnalyzer object
    sid_obj = SentimentIntensityAnalyzer()
    
    # polarity_scores method of SentimentIntensityAnalyzer
    # object gives a sentiment dictionary
    # which contains pos, neg, neu, and compoind scores
    sentiment_dict = sid_obj.polarity_scores(sentence)
    
    return sentiment_dict

# Function to remove unwanted string in the tweet
def remove_unwanted_string(dataframe):
    new_record = []
    tweet_text = dataframe.apply(lambda x: str(x).split())
    for record in tweet_text:
        for text in record:
            if 'RT' in text or '@' in text or '#' in text:
                record.remove(text)
        
        new_record.append(' '.join(record))
    dataframe = new_record
    return dataframe

In [11]:
df_tweets = pd.DataFrame()
df_tweets['tweet_text'] = remove_unwanted_string(df['tweet_text'])
df_tweets.head()

                                          tweet_text
0  The reason why America isn’t recovering from C...
1  The reason why America isn’t recovering from C...
2  This is the first year I'm not going to Dubai ...
3  DM agra has issued u a notice for baseless ali...
4  The Covid-19 pandemic is threatening vital rai...

In [12]:
pos, neg, neu, comp = [], [], [], []
for text in df_tweets['tweet_text']:
    sentiment = sentiment_scores(text)
    pos.append(sentiment['pos'])
    neg.append(sentiment['neg'])
    neu.append(sentiment['neu'])
    comp.append(sentiment['compound'])
    
df_tweets_sentiment = pd.DataFrame()
# df_tweets_sentiment.columns = ['tweet_text', 'positive', 'negative', 'neutral', 'compound']
df_tweets_sentiment['tweet_text'] = df_tweets['tweet_text']
df_tweets_sentiment['positive'] = pos
df_tweets_sentiment['negative'] = neg
df_tweets_sentiment['neutral'] = neu
df_tweets_sentiment['compound'] = comp

In [13]:
df_tweets_sentiment.head()

,tweet_text,positive,negative,neutral,compound
0,The reason why America isn’t recovering from C...,0.000,0.000,1.000,0.0000
1,The reason why America isn’t recovering from C...,0.000,0.000,1.000,0.0000
2,This is the first year I'm not going to Dubai ...,0.194,0.168,0.638,0.4588
3,DM agra has issued u a notice for baseless ali...,0.000,0.000,1.000,0.0000
4,The Covid-19 pandemic is threatening vital rai...,0.115,0.309,0.576,-0.5719